.main{
    background-color: rgb(223, 223, 223);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .middle ul{
    display: flex;
    list-style-type: none;
    

}
.main .first {
    
    margin-left: 70px;
   
}
.main .first h1{
font-size: 25px; 
   
}
.main .middle ul li{
    margin-right: 40px ;
    font-size: 25px;
    font-weight: 600;
}
.main .Last {
   
    margin-right: 70px;
}
.main .samefont{
    font-size: 30px;
    margin-left: 30px;
}