.productform
{
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.productform input
{
  width: 16%;
  height: 40px;
  background-color: rgb(212, 207, 207);
  border: none;
  border-radius: 5px;
  padding: 0 2%;

}
