
.navBar
{
 width: 100%;
 height: 10%;
 min-height: 50px;
 background-color: black;
 display: flex;
 justify-content: space-between;


}
.leftDiv
{

    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}
.leftDiv h1
{
    margin: 0;
}

.rightDiv
{

    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5rem;
    color: white;
}
.rightDiv a
{
    text-decoration: none;
    color: white;
}